[core]
    pager = delta
        compression = 0

[interactive]
    diffFilter = delta --color-only

[delta]
    light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true      # Display a side-by-side diff view instead of the traditional view
    relative-paths = true    # Output all file paths relative to the current directory
    hunk-header-style = line-number syntax
